/* add your CSS here */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url("/import/box.css");

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
u {
	text-align: center;
}

/* Css for body information */
.home-list {
	display: grid;
}

/* Column container */
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.side {
	-ms-flex: 30%;
	flex: 20%;
	padding: 20px;
	display: grid;
}

/* Main column */
.mainn {
	-ms-flex: 70%;
	flex: 70%;
	background-color: white;
	padding: 20px;
	display: flexbox;
}
img {
	width: 100%;
	height: 100;
}

/* CSS for all Img   */

/* CSS for Img Header  */

.img_profile {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-top: 10px;
	border: 3px solid black;
	transition: all 0.5s;
	margin-right: 20px;
}
.img_profile:hover {
	transform: scale(1.2) rotate(0deg);
}

#main {
	display: flex;
	flex: 1;
}
#main > article,
h5 {
	flex: 1;
}
#main > nav,
#main > form {
	flex: 0 0 20vw;
	background: #eee;
}
#main > nav {
	order: -1;
}
header,
footer {
	color: white;
	background: black;
}
header,
h5,
footer,
article,
nav,
form {
	padding: 40px;
}

/* add footer css */

.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}

.footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
	content: "·";
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
	text-decoration: underline;
}

/* Media Queries */

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}

/* Responsive layout - when the screen is less than 500px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		width: 100%;
	}
	header {
		width: 150%;
	}
	.footer-distributed {
		width: 150%;
	}
}

@media screen and (max-width: 600px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		text-align: center;
	}
	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}
	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}
